.wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.select {
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.display {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 4px 6px 10px;
  color: var(--label-primary);
  font-size: 14px;
  pointer-events: none;
}
